<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form method="post" action="index.html" th:action="@{/login}">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:required="true"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:required="true"/>
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>
</body>
</html>
