<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:extends="base">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/top.css}" rel="stylesheet" >
</head>
<body>
    <div class="header">
        <h1 class="center">
            <span class="link" onclick="location.href='http://localhost:8080/Top';">二次元バーコードを用いたレーティング計算システム</span>
        </h1>
    </div>

    <form method="get" th:action="@{/qr}">
        <div class="form_button"><button type="submit">QrCode</button></div>
    </form>
    <form method="get" th:action="@{/user-manage}">
        <div class="form_button"><button type="submit">ユーザー管理</button></div>
    </form>
    <form method="get" th:action="@{/result-manage}">
        <div class="form_button"><button type="submit">対局管理</button></div>
    </form>
    <form method="post" th:action="@{/logout}">
        <div class="form_button"><button type="submit">ログアウト</button></div>
    </form>
</body>
</html>